/*
 * Name: Elias Bothell
 * Date: April 21, 2021
 * Section: CSE 154 AC
 *
 * This is the CSS file to add color to the header
 * and buttons, change the font, and make sure that
 * days and tasks are aligned properly
 */

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  background-color: #f1f1f1;
}

header, button {
  color: white;
  background-color: #4FB7FF;
  text-align: center;
}

header {
  padding: 25px;
  text-align: center;
}

body section section {
  background-color: white;
  width: 30%;
  padding: 30px;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 15px;
  border: none;
}

body > section > button {
  width: 30%;
  margin-left: 35%;
}